/* Importing font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* Colors */
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-gray-400: hsl(240, 18%, 77%);
  --color-gray-100: hsl(0, 0%, 92%);
  --color-gray-50: hsl(240, 57%, 97%);
  --color-purple: hsl(302, 51%, 62%);
  --color-pink: hsl(329, 56%, 61%);
  --color-blue: hsl(240, 38%, 20%);

  /* Gradint */
  --color-gradient: linear-gradient(hsl(264, 49%, 64%), hsl(244, 68%, 55%));

  /* Spacing */
  --spacing-100: 0.8rem;
  --spacing-200: 1.6rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-600: 4.8rem;
  --spacing-1200: 9.6rem;

  /* Font */
  --main-font: "Inter", sans-serif;
}

/* Helper classes for typography */

.text-preset-1 {
  font-size: 1.8rem;
  line-height: 135%;
  letter-spacing: 0;
  font-weight: 300;
}

.text-preset-2-bold {
  font-size: 1.5rem;
  line-height: 135%;
  letter-spacing: 0;
  font-weight: bold;
}

.text-preset-2-medium {
  font-size: 1.5rem;
  line-height: 135%;
  letter-spacing: 0;
  font-weight: 500;
}

/* Styling actual page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-image: url(images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 28rem;
  padding-top: 1px;
  font-family: var(--main-font);

  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-section {
  width: 37.5rem;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Styling Slider Container */

.slider-container {
  padding-top: var(--spacing-300);
  height: auto;
}

.wrapper {
  height: auto;
}

.slider--component {
  position: absolute;
  transition: all 0.5s;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.author-img--container {
  width: 32.65rem;
  height: 30.75rem;
  position: relative;
  margin-bottom: var(--spacing-600);
}

.author-img--pattern {
  position: absolute;
  width: 100%;
}

.author-img--photo {
  width: 25.4rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.author-img--movement {
  width: 8rem;
  height: 4rem;
  background-color: var(--color-white);
  border-radius: 2.8rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  padding: var(--spacing-200);
  top: 77%;
  box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.5);
}

.author-img--movement-btn {
  all: unset;
  cursor: pointer;
}

/* styling slider text container */

.slider-text--container {
  width: 31rem;
  text-align: center;
  position: relative;
  margin: var(--spacing-400);
}

.slider-text--pattern {
  position: absolute;
  width: 6rem;
  height: 5rem;
  transform: translateX(-50%);
  top: -20%;
}

.slider--text {
  margin-bottom: var(--spacing-200);
  color: var(--color-blue);
}

/* Styling autor name and proffesion */

.author-name {
  color: var(--color-blue);
}

.author-prof {
  color: var(--color-gray-400);
}

.author-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* FOR TABLET: 768PX */
@media (min-width: 48rem) {
  .text-preset-1 {
    font-size: 3.2rem;
    line-height: 137.5%;
  }

  .testimonial-section {
    width: 76.8rem;
  }
  .author-img--container {
    width: 52rem;
    height: 48.97rem;
  }

  .author-img--photo {
    width: 40.4rem;
    height: 40.2rem;
  }
  .author-img--movement {
    width: 11.2rem;
    height: 5.6rem;
  }

  .slider-text--container {
    width: 63.5rem;
  }

  .slider--text {
    margin-bottom: var(--spacing-400);
  }

  .slider-text--pattern {
    width: 12rem;
    height: 10rem;
    top: -25%;
  }

  .author-box {
    flex-direction: row;
  }

  .author-name {
    margin-right: var(--spacing-100);
  }
}

/* For Desktop: 1440px */

@media (min-width: 90rem) {
  .text-preset-2-bold {
    font-size: 2rem;
    line-height: 190%;
  }

  .text-preset-2-medium {
    font-size: 2rem;
    line-height: 190%;
  }

  .slider--component {
    flex-direction: row-reverse;
  }

  .testimonial-section {
    width: 120rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .author-img--container {
    width: 69.7rem;
    height: 65.7rem;
  }
  .author-img--photo {
    width: 54rem;
    height: 54rem;
  }
  .author-img--movement {
    width: 11.2rem;
    height: 5.6rem;
    left: 20%;
    transform: translateX(0);
  }

  .slider-text--container {
    margin: 0;
    text-align: left;
    margin-right: -14.5rem;
    z-index: 2;
  }

  .slider-text--pattern {
    transform: translateX(70%);
  }

  .author-box {
    display: block;
    text-align: left;
  }
  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
