.section-hero {
  position: relative;
}

.section-hero-textbox {
  width: 34.3rem;
  height: 30rem;
  background-color: #fff;
  padding: 3.2rem 0 0 3.2rem;
  position: absolute;
  top: 70%;
  margin-bottom: 7.6rem;
}

.section-hero-textbox h3 {
  margin-bottom: 2.1rem;
}

.section-heritage {
  margin-top: 30rem;
  padding: 3.2rem;
}

.section-heritage h3 {
  margin-bottom: 2.1rem;
}

.section-leaders {
  padding: 3.2rem;
}

.section-leaders h3 {
  margin-bottom: 5.5rem;
}

.section-featured-grid .image-text-box {
  position: static;
  color: black;
  height: auto;
  padding: 0;
  margin-top: 1.5rem;
}

.image-text-box h2 {
  margin: 0;
}

.section-leaders .image-container {
  margin-bottom: 8rem;
}
