/* Creating hero */

.image-container-image {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.image-text-box {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 100%;
  height: 100%;
  padding: 0 3.2rem;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

.image-text-box h2 {
  margin-bottom: 1rem;
}

.image-text-box p {
  margin-bottom: 8.3rem;
}
.image-text-box button {
  width: 26rem;
}

/* Welcome Section */

.section-welcome {
  padding: 0 3.6rem;
  margin-bottom: 11.3rem;
}

.divider {
  margin-bottom: 6.8rem;
}
.section-welcome h3 {
  margin-bottom: 2.2rem;
}

.section-welcome--description p {
  margin-bottom: 30px;
  color: var(--color-Dark-Grey);
}

/* About Section */

.section-about {
  margin-bottom: 7.3rem;
}

.section-about .image-text-box h2 {
  margin-bottom: 2.3rem;
}

.section-about .image-text-box button {
  width: 19rem;
}

/* Feature Section */

.section-featured button {
  width: 100%;
}

/* Swiper */

.swiper-wrapper {
  display: flex;
}
