/* Creating hero */

.image-container-image {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.image-text-box {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 100%;
  height: 100%;
  padding: 0 3.2rem;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

.image-text-box h2 {
  margin-bottom: 1rem;
}

.image-text-box p {
  margin-bottom: 8.3rem;
}
.image-text-box button {
  width: 26rem;
}

/* Welcome Section */

.section-welcome {
  padding: 0 3.6rem;
  margin-bottom: 11.3rem;
}

.section-welcome h3 {
  margin-bottom: 2.2rem;
}

.section-welcome--description p {
  margin-bottom: 30px;
  color: var(--color-Dark-Grey);
}

/* About Section */

.section-about {
  margin-bottom: 7.3rem;
}

.section-about .image-text-box h2 {
  margin-bottom: 2.3rem;
}

.section-about .image-text-box button {
  width: 19rem;
}

/* Feature Section */

.section-featured button {
  width: 100%;
}

.label-box {
  display: none;
}

.section-welcome-text {
  display: none;
}

/* Swiper */

.swiper-wrapper {
  display: flex;
}

.tablet-divider {
  display: none;
}

.feature-inside-label {
  display: none;
}

@media (min-width: 48rem) {
  .label-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 50px;
  }

  .line {
    width: 1px;
    height: 10.4rem;
    background-color: var(--color-Light-Grey);
    margin-bottom: 4.8rem;
  }

  .label-text {
    writing-mode: vertical-rl;
    letter-spacing: 1.8rem;
    text-transform: uppercase;
    transform: translateX(-50%);
    color: var(--color-Light-Grey);
  }

  .swiper-slide .image-text-box {
    padding: 5.8rem;
  }

  .image-text-box p {
    margin-bottom: 4.1rem;
  }

  .img-mobile {
    display: none;
  }

  .img-tablet {
    display: block;
  }

  .divider {
    display: none;
  }

  .section-hero {
    margin-bottom: 8.9rem;
  }
  .section-welcome {
    padding: 0;
    margin-bottom: 23.3rem;
  }

  .section-welcome-text {
    display: block;
    font-size: 15rem;
    line-height: 20rem;
    letter-spacing: -3px;
    font-weight: bold;
    color: var(--color-Very-Light-Grey);
    height: auto;
  }

  .section-welcome h3 {
    margin-top: -4rem;
    margin-bottom: 4.3rem;
  }
  .tablet-divider {
    display: block;
  }

  .section-about {
    margin-bottom: 20rem;
  }

  .section-featured {
    padding: 0;
    position: relative;
    margin-bottom: 20rem;
  }

  .section-featured button {
    position: absolute;
    width: 16.9rem;
    top: 0;
    right: 0;
  }

  .image-container {
    position: relative;
  }

  .feature-inside-label {
    position: absolute;
    display: block;
    font-size: 25rem;
    line-height: 20rem;
    letter-spacing: -5px;
    right: 3%;
    top: 15%;
    opacity: 0.5;
    font-weight: bold;
  }
}
