/* General Stuff That are common for everyone */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  /* Colors */
  --color-Very-Dark-Blue: hsl(225, 13%, 12%);
  --color-Dark-Grey: hsl(226, 6%, 40%);
  --color-Medium-Grey: hsl(223, 7%, 53%);
  --color-Light-Grey: hsl(225, 17%, 82%);
  --color-Very-Light-Grey: hsl(230, 21%, 95%);
  --color-Red-Errors: hsl(0, 68%, 61%);
  /* Font */
  --main-font: "League Spartan", sans-serif;
}

/* Supportive Classes */

.heading-xl {
  font-weight: bold;
  font-size: 25rem;
  line-height: 20rem;
  letter-spacing: -5px;
}

.heading-l {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 4.8rem;
  letter-spacing: -1.2px;
}

.heading-m {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 5.2rem;
  letter-spacing: -1.71px;
}

.heading-s {
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: 0;
}

.body-text {
  font-weight: medium;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0;
}

.btn-text {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0;
}

/* BTN Classes */

.btn-arrow {
  width: 2.4rem;
  filter: invert(1);
}

.btn-normal-text-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-Very-Dark-Blue);
  color: white;
  border: none;
  cursor: pointer;
  padding: 2rem 3rem;
  transition: all 0.3s;
}

.btn-normal-text-arrow:hover {
  background-color: var(--color-Dark-Grey);
}

.btn-normal-text-arrow:active {
  background-color: var(--color-Light-Grey);
}

.btn-normal-text-arrow span {
  margin-right: 2.4rem;
}

.btn-normal-arrow {
  background-color: var(--color-Very-Dark-Blue);
  transition: all 0.3s;
}

.btn-normal-arrow:hover {
  background-color: var(--color-Dark-Grey);
}

.btn-normal-arrow:active {
  background-color: var(--color-Light-Grey);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: var(--main-font);
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
}

/* Header */
.container {
  max-width: 37.5rem;
}
.header {
  width: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem;
  position: relative;
}

.header-logo {
  display: inline-block;
  cursor: pointer;
}

.header-hamburger {
  cursor: pointer;
}

.close {
  display: none;
}

.header-navigation-box {
  opacity: 0;
  width: 34.3rem;
  height: 23.5rem;
  background-color: var(--color-Very-Light-Grey);
  position: absolute;
  left: 100%;
  top: 100%;
  padding: 4.8rem;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  box-shadow: 7px 8px 54px 24px rgba(0, 0, 0, 0.51);
}

.header-navigation-box ul {
  list-style: none;
}

.header-navigation-box ul li {
  color: var(--color-Very-Dark-Blue);
  margin-bottom: 1.7rem;
  cursor: pointer;
}

/* Footer */
.footer {
  background-color: var(--color-Very-Light-Grey);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 5.8rem;
}

.company-logo-footer {
  width: 12rem;
  height: 12rem;
  background-color: var(--color-Very-Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-logo {
  filter: brightness(0) invert(1);
  width: 5.8rem;
}

.footer nav li {
  color: var(--color-Medium-Grey);
  margin-bottom: 3.2rem;
}

.footer nav ul {
  list-style: none;
  padding-top: 4rem;
}

/* Section feature */
.section-featured {
  padding: 0 3.2rem;
  margin-bottom: 13.2rem;
}

.section-featured h3 {
  margin-bottom: 4.3rem;
}

.section-featured-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.section-featured-grid .image-text-box {
  justify-content: flex-end;
  padding: 2.3rem;
}

.section-featured-grid .image-container .overlay {
  background-color: transparent;
  background-image: linear-gradient(
    to top,
    rgba(15, 45, 50, 0.7),
    rgba(20, 25, 30, 0.4),
    rgba(15, 45, 50, 0.1)
  );
}

.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
}

/* divider */
.divider {
  width: 6.5rem;
  height: 1px;
  background-color: var(--color-Light-Grey);
  margin-bottom: 6.8rem;
}

/* link */
a {
  text-decoration: none;
  color: inherit;
}

.img-tablet,
.img-desktop {
  display: none;
}

@media (min-width: 48rem) {
  .img-mobile {
    display: none;
  }
  .img-tablet {
    display: block;
  }

  .header-hamburger {
    display: none;
  }
  .heading-l {
    font-size: 9.6rem;
    line-height: 8rem;
  }

  .heading-m {
    font-size: 7.2rem;
    line-height: 6.4rem;
    letter-spacing: -1.2px;
  }

  .container {
    max-width: 57.3rem;
  }

  .header-hamburger {
    opacity: 0;
  }

  .header-nav {
    padding: 5.6rem 0;
  }

  .header-navigation-box {
    opacity: 1;
    display: block;
    position: static;
    box-shadow: none;
    background-color: #fff;
    padding: 0;
    height: auto;
    width: 100%;
  }

  .header-navigation-box ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-navigation-box ul li {
    margin-right: 6rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: var(--color-Dark-Grey);
    margin-bottom: 0;
    transition: all 0.3s;
  }

  .header-navigation-box ul li:hover {
    color: var(--color-Very-Dark-Blue);
  }

  .footer {
    padding: 0;
    display: flex;
    align-self: stretch;
    height: 12rem;
    position: relative;
    width: 61.2rem;
  }

  .footer nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .company-logo-footer {
    left: 0;
    top: 0;
    transform: translateX(0);
    margin-right: 4rem;
  }

  .footer nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 31.3rem;
  }

  .portfolio-footer-button {
    position: absolute;
    width: 27rem;
    left: 84%;
  }

  .portfolio-footer-button button {
    padding: 2rem 3rem;
  }
}

@media (min-width: 1024px) {
  .footer {
    align-self: center;
  }
}

@media (min-width: 90rem) {
  body {
    align-items: flex-start;
  }

  .container {
    max-width: 110rem;
    margin-left: 16.4rem;
  }

  .header {
    max-width: 60rem;
    align-self: flex-start;
    justify-content: space-between;
  }
  .header-navigation-box {
    margin-left: 10rem;
  }
  .img-tablet {
    display: none;
  }

  .img-desktop {
    display: block;
    width: 100%;
    height: 72rem;
  }

  .swiper-pagination {
    display: flex;
    position: absolute;
    z-index: 99999;
    top: 100% !important;
    left: -8rem !important;
    transform: translateY(-100%) !important;
    overflow: visible;
  }

  .swiper-pagination-bullet {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 0 !important;
    width: 8rem !important;
    height: 8rem !important;
    background-color: #fff !important;
    margin: 0 !important;
    opacity: 1 !important;
    border: none !important;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-Light-Grey);
  }
  .swiper-pagination-bullets {
    bottom: -8rem !important;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-Very-Dark-Blue) !important;
    color: #fff !important;
  }

  .swiper-slide .image-text-box {
    width: 55rem;
    margin-left: 19rem;
  }
  .image-container {
    overflow: visible;
  }

  .footer {
    align-self: flex-start;
    margin-left: 16rem;
    height: 20rem;
    width: 100rem;
  }

  .company-logo-footer {
    width: 20rem;
    height: 20rem;
  }

  /* .footer nav {
    margin-left: 20rem;
  } */
}
